* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #131824;
	color: #fff;
}

a {
	text-decoration: none;
	margin: 5px 0;
	font-size: 1.2em;
	color: #fff;

}

a:visited{
	color: #A9A9A9;
}

a:hover{
	color: #FF5750;
}


.search-form{
	text-align: center;
	font-size: 2em;
}

.search-bar, button{
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 40px;
}

.search-bar{
	width: 300px;
}